{% extends 'base.html' %}
{% block content %}

    <div class="row" id='#search_row' style="margin-top: 18%; margin-bottom: 18%;">
        <div class="col s12" style="margin-top: 2%;"><h2 align="center">Search for a Victim.</h2></div>
        <form class="col s12" method="get" style="margin-left: 25%;">

            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Please input the exact phone number.(Eg: +91xxxxxyyyyy)"
                           id="search_input" name='search_input' type="text" class="validate"
                         {% if type == 'result' %}value="{{ search_input }}"{% endif %}
                    >
                </div>
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light" type="submit">Search
                    </button>
                </div>
            </div>
        </form>
    <div class="col s12">
        {% if type == 'result' %}
            {% if result  %}
            <h4 align="center">Search Results</h4>
            {% block results %}
                <table>
                    <tbody>
                        <tr>
                            <td class="td-label">Name</td>
                            <td class="td-result">{{ result.name }}</td>
                        </tr>
                        <tr>
                            <td class="td-label">Status</td>
                            {% if result.safety_level == 0 %}
                                <td class="green-text">Safe</td>
                            {% elif result.safety_level == 1 %}
                                <td class="grey-text">Not Confirmed</td>
                            {% elif result.safety_level == 2 %}
                                <td class="yellow-text">Unreachable</td>
                            {% elif result.safety_level == 3 %}
                                <td class="red-text">Needs help</td>
                            {% elif result.safety_level == 4 %}
                                <td class="green-text">Not in affected zone.</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            {% endblock %}
                {% else %}
                    <p>Victim not found.</p>
            {% endif %}
        {% endif %}
    </div>
    </div>

{% endblock %}

{% block javascript %}
<script>
    var x = {{user.is_authenticated}}
    {% if not user.is_authenticated %}
    $("add-number").css("display", "none");
    {% endif %}
    {% if form.errors %}
    $.notify("Wrong credentials")
    {% endif %}
</script>

{% endblock %}
